/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.cursor {
  /* width: 3rem; */
  /* height: 3rem; */
  /* border: 2px solid white; */
  /* border-radius: 50%; */
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150% 150%;
  z-index: 999;
}

* {
  cursor: none;
}
